.main {
	width: 100%;
	height: 100%;
	background-color: rgb(228, 231, 234);
}

.section {
	position: absolute;
	left: 50%;
	top: 60%;
	width: 800px;
	height: 360px;
	margin-left: -400px;
	margin-top: -180px;
}

.compony {
	padding-top: 5%;
	font-weight: bold;
	font-size: 57px;
	text-align: center;
	letter-spacing: 5px;
	
}

.left {
	float: left;
	width: 400px;
	height: 350px;
}

.right {
	float: left;
	width: 400px;
	height: 350px;
	padding-right: 30px;
}

.signin {
	float: right;
	width: 297px;
	height: 293px;
	border: 1px solid rgb(204, 204, 204);
	border-radius: 3px;
	width: 297px;
	padding-left: 30px;
	padding-top: 30px;
	background-color: rgb(233, 236, 238);
}

.text {
	line-height: 25px;
}

.title {
	font-size: 16px;
	font-weight: 500;
	color: rgb(99, 110, 123)
}

.content {
	font-size: 11px;
	color: rgb(99, 110, 123)
}

input {
	width: 240px;
	height: 40px;
	margin-top: 17px;
	border: 1px solid rgb(204, 204, 204);
	border-radius: 3px;
	padding-left: 10px;
	padding-right: 30px;
}

input:focus {
	outline: none;
	border: 1px solid rgb(153, 153, 153);
}

.username {
	background: url("../medicine/image/head.jpg") no-repeat scroll right
		center transparent;
	background-color: white;
}

.password {
	background: url("../medicine/image/lock.jpg") no-repeat scroll right
		center transparent;
	background-color: white;
}

.button {
	margin-top: 30px;
	width: 240px;
	height: 40px;
	background-color: rgb(28, 175, 154);
	color: white;
	width: 240px;
	text-align: center;
	line-height: 40px;
	border-radius: 3px
}

.head {
	font-size: 25px;
	font-weight: 600;
	padding-left: 30px;
	color: rgb(99, 99, 99)
}

.Subtitle {
	font-size: 15px;
	padding-left: 30px;
	margin-top: 18px;
	color: rgb(99, 110, 123)
}

ul {
	font-size: 15px;
	padding-left: 30px;
	margin-top: 20px
}

li {
	height: 20px;
	line-height: 12px;
	margin-top: 3px;
	color: rgb(99, 110, 123)
}

.sub {
	float: left;
	width: 20px;
	height: 20px;
	background: url("../medicine/image/qub.jpg") no-repeat;
}